<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanier.gameserve2.mapper.SignInConfigMapper">

    <resultMap id="baseResultMap" type="org.lanier.gameserve2.entity.SignInConfig">
        <id column="id" property="id"/>
        <result column="category" property="category"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="prop_id" property="propId"/>
        <result column="prop_type" property="propType"/>
    </resultMap>

    <resultMap id="resultDTO" type="org.lanier.gameserve2.entity.dto.SignInConfigDto">
        <id column="id" property="id"/>
        <result column="category" property="category"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="propName" property="propName"/>
        <result column="propPic" property="propPic"/>
    </resultMap>

    <select id="getAllRewardsByYearAndMonth" resultMap="baseResultMap">
        select sign_in_config.id,sign_in_config.category,sign_in_config.amount,sign_in_config.remark,prop.prop_name as propName,prop_pic as propPic from sign_in_config,prop where year=#{year} and month=#{month}
    </select>

    <insert id="addReward">
        insert into sign_in_config (category, amount, remark, year, month, day, prop_id, prop_type) values (#{category}, #{amount},
                                                                                                       #{remark}, #{year},
                                                                                                       #{month}, #{day},
                                                                                                       #{propId}, #{propType})
    </insert>
</mapper>