<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanier.gameserve2.mapper.ToiletriesMapper">

    <resultMap id="baseResultMap" type="org.lanier.gameserve2.entity.articles.Toiletries">
        <id column="id" property="toiletriesId"/>
        <result column="name" property="name"/>
        <result column="effect" property="effect"/>
        <result column="cost" property="cost"/>
        <result column="value" property="value"/>
        <result column="use_level" property="useLevel"/>
        <result column="pic" property="pic"/>
    </resultMap>

    <select id="getToiletriesById" resultMap="baseResultMap">
        select * from toiletries where id=#{toiletriesId}
    </select>
</mapper>