<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanier.gameserve2.mapper.UserSignInMapper">

    <resultMap id="baseResultMap" type="org.lanier.gameserve2.entity.UserSignInLog">
        <id column="id" property="logId"/>
        <result column="user_id" property="userId"/>
        <result column="pet_id" property="petId"/>
        <result column="category" property="category"/>
        <result column="reward_id" property="rewardId"/>
        <result column="reward_type" property="rewardType"/>
        <result column="sign_in_time" property="signInTime"/>
        <result column="sign_in_type" property="signInType"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="day" property="day"/>
    </resultMap>

    <select id="getLogsByUserAndPetIdAndYearMonth" resultMap="baseResultMap">
        select * from user_sign_in_log where user_id=#{userId} and pet_id=#{petId} and year=#{year} and month=#{month}
    </select>

    <insert id="addLog" parameterType="baseResultMap" useGeneratedKeys="true" keyProperty="logId">
        insert into user_sign_in_log (user_id, pet_id, category, reward_id, reward_type, sign_in_time, sign_in_type, year, month, day)
        VALUES (#{userId}, #{petId}, #{category}, #{rewardId}, #{rewardType}, #{signInTime}, #{signInType}, #{year}, #{month}, #{day})
    </insert>
</mapper>